.container>img {
  height: 80px;
}

.container>nav {
  background-color: rgb(0, 0, 0);
  color: #fff;
  line-height: 40px;
}

.container>nav>a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}
.container>nav>a:hover{
  background: rgb(102, 102, 102);
}